@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
.clearfix, .group {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .group:before, .group:after {
    content: "";
    display: table; }
  .clearfix, .clearfix:before, .clearfix:after, .group, .group:before, .group:after {
    clear: both; }

@font-face {
  font-family: 'Slab Thing';
  src: url("fonts/slabthing.eot");
  src: url("fonts/slabthing.eot?#iefix") format("embedded-opentype"), url("fonts/slabthing.woff2") format("woff2"), url("fonts/slabthing.woff") format("woff"), url("fonts/slabthing.ttf") format("truetype"), url("fonts/slabthing.svg#slabthingthing") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #47494b; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Slab Thing", sans-serif;
  font-weight: normal;
  font-weight: bold;
  line-height: 1.2em; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.1em; }

p {
  padding: 8px 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

strong em, em strong, h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-weight: bold;
  font-style: italic; }

a {
  color: #056FB8;
  text-decoration: none;
  -webkit-transition: opacity 400ms ease-in-out;
          transition: opacity 400ms ease-in-out; }
  a:hover {
    text-decoration: underline; }

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid #83BF41;
  margin: 25px 0;
  clear: both; }

.content-style ol, .content-narrow ol, .content-style ul, .content-narrow ul {
  padding: 5px 0 5px 35px; }
  .content-style ol li, .content-narrow ol li, .content-style ul li, .content-narrow ul li {
    padding: 3px 0; }
  .content-style ol.gform_fields, .content-narrow ol.gform_fields, .content-style ul.gform_fields, .content-narrow ul.gform_fields {
    padding: 5px 0; }

.content-style ul, .content-narrow ul {
  list-style-type: disc; }

.content-style ol, .content-narrow ol {
  list-style-type: decimal; }

.content-style h1, .content-narrow h1, .content-style h2, .content-narrow h2, .content-style h3, .content-narrow h3, .content-style h4, .content-narrow h4, .content-style h5, .content-narrow h5, .content-style h6, .content-narrow h6 {
  padding: 10px 0 5px; }

.content-style blockquote, .content-narrow blockquote {
  padding: 10px 25px;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #939598;
  border-left: 3px solid #d4d5d6;
  margin: 10px 0 10px 20px; }

.content-style button, .content-narrow button, .content-style input[type=submit], .content-narrow input[type=submit], .content-style input[type=reset], .content-narrow input[type=reset] {
  padding: 9px 45px 6px 12px;
  background: #056FB8 url(../img/icon-button-arrow.png) right center no-repeat;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  box-shadow: 4px 4px 10px #babbbd;
  border-radius: 10px; }

.content-style img, .content-narrow img, .content-style iframe, .content-narrow iframe {
  border: 4px solid white; }
  .content-style img.no-border, .content-narrow img.no-border, .content-style iframe.no-border, .content-narrow iframe.no-border {
    border: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #056FB8; }

header {
  position: relative;
  padding: 0;
  background: #D1E3BE url(../img/bg-grunge.png) center center;
  background-size: cover;
  padding: 10px 10px 0 10px; }
  header .logo {
    text-align: center; }
    @media only screen and (min-width: 600px) {
      header .logo {
        max-width: 50%;
        text-align: left; } }
    @media only screen and (min-width: 960px) {
      header .logo {
        max-width: 100%; } }
  header .branch {
    display: none; }
    @media only screen and (min-width: 600px) {
      header .branch {
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        max-width: 50%; } }
    @media only screen and (min-width: 960px) {
      header .branch {
        max-width: 100%; } }
  header .social {
    display: none; }
    @media only screen and (min-width: 600px) {
      header .social {
        display: block;
        position: absolute;
        right: 0;
        bottom: 5px;
        width: 33%; }
        header .social img {
          float: right;
          max-width: 40%; } }

nav {
  background: #83BF41 url(../img/bg-grunge.png) center center no-repeat;
  background-size: cover;
  text-align: center;
  zoom: 1; }
  nav:before, nav:after {
    content: "";
    display: table; }
  nav, nav:before, nav:after {
    clear: both; }
  nav li {
    position: relative;
    display: block; }
    @media only screen and (min-width: 500px) {
      nav li {
        display: block;
        width: 50%;
        float: left; } }
    @media only screen and (min-width: 768px) {
      nav li {
        display: inline-block;
        width: auto;
        float: none; } }
    nav li a {
      font-family: "Slab Thing", sans-serif;
      font-weight: normal;
      display: block;
      padding: 12px 15px 7px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      color: white;
      text-decoration: none; }
      @media only screen and (min-width: 500px) {
        nav li a {
          padding: 15px 15px 10px;
          font-size: 24px;
          line-height: 28px; } }
      nav li a:hover {
        text-decoration: none; }
    nav li ul {
      display: none; }
      nav li ul li {
        display: block; }
        nav li ul li a {
          font-size: 15px;
          line-height: 15px;
          padding: 10px 15px 5px; }
      @media only screen and (min-width: 768px) {
        nav li ul {
          position: absolute;
          top: 53px;
          left: 0;
          text-align: left;
          width: 200px; }
          nav li ul li a {
            background: #8fc554; }
            nav li ul li a:hover {
              background: #9ccc67; } }
    nav li:hover ul {
      display: block; }

.showcase {
  position: relative;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 300ms ease-in-out;
          transition: height 300ms ease-in-out;
  z-index: 0; }
  .showcase .slide {
    position: absolute;
    top: 0;
    left: 100%;
    right: -100%;
    opacity: 0;
    -webkit-transition: left 400ms ease-in-out, right 400ms ease-in-out, opacity 400ms ease-in-out;
            transition: left 400ms ease-in-out, right 400ms ease-in-out, opacity 400ms ease-in-out; }
    .showcase .slide.visible {
      left: 0;
      right: 0;
      opacity: 1;
      z-index: 0; }
    .showcase .slide.hide-left {
      left: -100%;
      right: 100%;
      opacity: 0; }
    .showcase .slide a {
      display: block;
      zoom: 1; }
      .showcase .slide a:before, .showcase .slide a:after {
        content: "";
        display: table; }
      .showcase .slide a, .showcase .slide a:before, .showcase .slide a:after {
        clear: both; }
    .showcase .slide > img, .showcase .slide a > img {
      width: 100%;
      height: auto !important;
      display: block; }
    .showcase .slide .slide-content {
      position: absolute;
      top: 10%;
      right: 60px;
      left: 60px;
      background: white;
      opacity: .8;
      padding: 12px;
      border-radius: 15px;
      border-top-left-radius: 0; }
      @media only screen and (min-width: 768px) {
        .showcase .slide .slide-content {
          top: 15%;
          left: 10%;
          right: 50%;
          padding: 25px; } }
    .showcase .slide h1 {
      font-weight: 700;
      padding: 0;
      font-size: 18px; }
      @media only screen and (min-width: 768px) {
        .showcase .slide h1 {
          font-size: 22px; } }
    .showcase .slide h2 {
      font-weight: 400;
      padding: 0;
      font-size: 13px;
      line-height: 20px; }
  .showcase .showcase-nav a {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    width: 25px;
    height: 50px;
    text-indent: -300px;
    overflow: hidden;
    opacity: .7; }
    .showcase .showcase-nav a:hover {
      opacity: 1; }
    .showcase .showcase-nav a.previous {
      left: 0;
      background: url(../img/icon-arrow-left.png) right center no-repeat;
      background-size: contain;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .showcase .showcase-nav a.next {
      right: 0;
      background: url(../img/icon-arrow-right.png) left center no-repeat;
      background-size: contain;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    @media only screen and (min-width: 768px) {
      .showcase .showcase-nav a {
        width: 50px;
        height: 80px;
        margin-top: -40px; }
        .showcase .showcase-nav a.previous {
          left: 5px; }
        .showcase .showcase-nav a.next {
          right: 5px; } }

.wrap {
  max-width: 1150px;
  margin: 0 auto; }

.main-content {
  min-height: 400px;
  padding: 30px;
  background: #D1E3BE url(../img/bg-grunge.png) center center;
  background-size: contain; }

.content-narrow {
  max-width: 800px;
  margin: 0 auto; }

.quarter, .third, .half, .two-third, .three-quarter {
  padding: 20px; }

@media only screen and (min-width: 768px) {
  .quarter, .third, .half, .two-third, .three-quarter {
    float: left; }
  .quarter {
    width: 23%;
    margin: 0 1%; }
  .third {
    width: 31%;
    margin: 0 1%; }
  .two-third {
    width: 65%;
    margin: 0 1%; }
  .three-quarter {
    width: 73%;
    margin: 0 1%; } }

img.alignright {
  float: right;
  margin: 0 0 15px 15px; }

img.alignleft {
  float: left;
  margin: 0 15px 15px 0; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.people .person {
  padding: 10px; }
  .people .person img {
    border-radius: 50%;
    width: 100%; }
  .people .person h3, .people .person h4 {
    text-align: center;
    padding: 10px 0 0; }
  .people .person h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding: 0 0 10px; }
  @media only screen and (min-width: 480px) {
    .people .person {
      padding: 15px;
      width: 50%;
      float: left; }
      .people .person:nth-child(3), .people .person:nth-child(5), .people .person:nth-child(7), .people .person:nth-child(9), .people .person:nth-child(11), .people .person:nth-child(13), .people .person:nth-child(15) {
        clear: left; } }
  @media only screen and (min-width: 600px) {
    .people .person {
      width: 33.33%;
      clear: none; }
      .people .person:nth-child(3), .people .person:nth-child(5), .people .person:nth-child(7), .people .person:nth-child(9), .people .person:nth-child(11), .people .person:nth-child(13), .people .person:nth-child(15) {
        clear: none; }
      .people .person:nth-child(4), .people .person:nth-child(7), .people .person:nth-child(10), .people .person:nth-child(13), .people .person:nth-child(16) {
        clear: left; } }

.testimonials {
  zoom: 1; }
  .testimonials:before, .testimonials:after {
    content: "";
    display: table; }
  .testimonials, .testimonials:before, .testimonials:after {
    clear: both; }
  @media only screen and (min-width: 500px) {
    .testimonials .testimonials-column {
      float: left;
      width: 48%;
      margin: 0 1%; } }
  @media only screen and (min-width: 768px) {
    .testimonials .testimonials-column {
      width: 31%; } }
  .testimonials .testimonial .testimonial-content {
    background: #e1e2e3;
    border-radius: 8px;
    padding: 5px 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px #c7c8ca, -2px -2px 5px #c7c8ca inset;
    border: 1px solid #adafb1; }
  .testimonials .testimonial .testimonial-by {
    font-style: italic;
    text-align: right; }

.gform_confirmation_message {
  background: white;
  border: 3px solid #056FB8;
  color: #056FB8;
  font-weight: bold;
  padding: 5px 8px; }

footer {
  background-color: #83BF41;
  color: white;
  padding: 20px 20px 40px;
  text-transform: uppercase;
  text-align: center; }
  footer a {
    color: white; }

.home-links {
  background: #D1E3BE url(../img/bg-grunge.png) center center;
  background-size: contain;
  zoom: 1; }
  .home-links:before, .home-links:after {
    content: "";
    display: table; }
  .home-links, .home-links:before, .home-links:after {
    clear: both; }
  .home-links .wrap {
    padding: 20px 0 380px;
    position: relative; }
    @media only screen and (min-width: 600px) {
      .home-links .wrap {
        padding: 20px 280px 10px 0; } }
    .home-links .wrap:after {
      position: absolute;
      bottom: -50px;
      right: 10px;
      width: 270px;
      height: 400px;
      content: "";
      background: url(../img/tree.png) bottom right no-repeat;
      background-size: contain; }
  .home-links ul {
    zoom: 1; }
    .home-links ul:before, .home-links ul:after {
      content: "";
      display: table; }
    .home-links ul, .home-links ul:before, .home-links ul:after {
      clear: both; }
    .home-links ul li {
      display: block; }
      @media only screen and (min-width: 768px) {
        .home-links ul li {
          float: left;
          width: 50%; }
          .home-links ul li:nth-child(3), .home-links ul li:nth-child(5), .home-links ul li:nth-child(7) {
            clear: left; } }
      @media only screen and (min-width: 900px) {
        .home-links ul li {
          width: 33%; }
          .home-links ul li:nth-child(3), .home-links ul li:nth-child(5) {
            clear: none; }
          .home-links ul li:nth-child(4) {
            clear: left; } }
      @media only screen and (min-width: 1100px) {
        .home-links ul li {
          width: 25%; }
          .home-links ul li:nth-child(4), .home-links ul li:nth-child(7) {
            clear: none; }
          .home-links ul li:nth-child(5) {
            clear: left; } }
      .home-links ul li a {
        font-family: "Slab Thing", sans-serif;
        font-weight: normal;
        display: block;
        clear: left;
        padding: 5px;
        font-size: 17px;
        line-height: 50px; }
        .home-links ul li a:hover {
          text-decoration: none; }
        .home-links ul li a img {
          float: left;
          width: 50px;
          margin-right: 10px; }
          @media only screen and (min-width: 768px) {
            .home-links ul li a img {
              display: block;
              float: none;
              width: auto;
              margin: 0 auto 7px auto; } }
        @media only screen and (min-width: 768px) {
          .home-links ul li a {
            text-align: center;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px; } }
