

.wrap {
	max-width: 1150px;
	margin: 0 auto;
}

.main-content {
	min-height: 400px;
	padding: 30px;
	background: $lime-light url(../img/bg-grunge.png) center center;
	background-size: contain;
}

.content-narrow {
	max-width: 800px;
	margin: 0 auto;
	@extend .content-style;
}

.quarter, .third, .half, .two-third, .three-quarter {
	padding: 20px;
}

@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter {
		float: left;
	}

	.quarter {
		width: 23%;
		margin: 0 1%;
	}

	.third {
		width: 31%;
		margin: 0 1%;
	}

	.two-third {
		width: 65%;
		margin: 0 1%;
	}

	.three-quarter {
		width: 73%;
		margin: 0 1%;
	}
}


img {
	&.alignright {
		float: right;
		margin: 0 0 15px 15px;
	}

	&.alignleft {
		float: left;
		margin: 0 15px 15px 0;
	}

	&.aligncenter {
		display: block;
		margin: 0 auto;
	}
}

