
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);


@font-face {
    font-family: 'Slab Thing';
    src: url('fonts/slabthing.eot');
    src: url('fonts/slabthing.eot?#iefix') format('embedded-opentype'),
         url('fonts/slabthing.woff2') format('woff2'),
         url('fonts/slabthing.woff') format('woff'),
         url('fonts/slabthing.ttf') format('truetype'),
         url('fonts/slabthing.svg#slabthingthing') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin font {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

@mixin font-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

@mixin font-slab {
	font-family: "Slab Thing", sans-serif;
	font-weight: normal;
}

