

$menu-bp: 1024px;

header {
	position: relative;
	padding: 0;
	background: $lime-light url(../img/bg-grunge.png) center center;
	background-size: cover;
	padding: 10px 10px 0 10px;

	.logo {
		text-align: center;

		@include respond-to( 600px ) {
			max-width: 50%;
			text-align: left;
		}

		@include respond-to( 960px ) {
			max-width: 100%;
		}
	}

	.branch {
		display: none;

		@include respond-to( 600px ) {
			display: block;
			position: absolute;
			right: 0;
			top: 10px;
			max-width: 50%;
		}

		@include respond-to( 960px ) {
			max-width: 100%;
		}
	}

	.social {
		display: none;

		@include respond-to( 600px ) {
			display: block;
			position: absolute;
			right: 0;
			bottom: 5px;
			width: 33%;

			img {
				float: right;
				max-width: 40%;
			}
		}
	}
}


nav {
	background: $lime url(../img/bg-grunge.png) center center no-repeat;
	background-size: cover;
	text-align: center;
	@include clearfix;

	li {
		position: relative;
		display: block;

		@include respond-to( 500px ) {
			display: block;
			width: 50%;
			float: left;
		}

		@include respond-to( 768px ) {
			display: inline-block;
			width: auto;
			float: none;
		}
	
		a {
			@include font-slab;
			display: block;
			padding: 12px 15px 7px;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 18px;
			color: white;
			text-decoration: none;
				
			@include respond-to( 500px ) {
				padding: 15px 15px 10px;
				font-size: 24px;
				line-height: 28px;
			}

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			display: none;

			li {
				display: block;

				a {
					font-size: 15px;
					line-height: 15px;
					padding: 10px 15px 5px;
				}
			}

			@include respond-to( 768px ) {
				position: absolute;
				top: 53px;
				left: 0;
				text-align: left;
				width: 200px;

				li {
					a {
						background: lighten( $lime, 5% );

						&:hover {
							background: lighten( $lime, 10% );
						}
					}
				}
			}

		}

		&:hover ul {
			display: block;
		}
	}
}

