

// set colors
$blue: #056FB8;
$lime: #83BF41;
$lime-light: #D1E3BE;

$grey: #939598;
$grey-dark: darken( $grey, 30% );

// link color
$link-color: $blue;


// mixin library
@import "mixins";

// font import and mixins
@import "fonts";

// css reset
@import "reset";

// base text and element styles
@import "base";


// header styles
@import "header";


// general styles
@import "showcase";
@import "content";
@import "people";
@import "testimonial";
@import "gravity";


// footer styles
@import "footer";


// home-specific styles
@import "home";

