@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
.clearfix, .group {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .group:before, .group:after {
    content: "";
    display: table; }
  .clearfix, .clearfix:before, .clearfix:after, .group, .group:before, .group:after {
    clear: both; }

@font-face {
  font-family: 'Slab Thing';
  src: url("fonts/slabthing.eot");
  src: url("fonts/slabthing.eot?#iefix") format("embedded-opentype"), url("fonts/slabthing.woff2") format("woff2"), url("fonts/slabthing.woff") format("woff"), url("fonts/slabthing.ttf") format("truetype"), url("fonts/slabthing.svg#slabthingthing") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #47494b; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.1em; }

p {
  padding: 8px 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

strong em, em strong, h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-weight: bold;
  font-style: italic; }

a {
  color: #2C5871;
  text-decoration: none;
  transition: opacity 400ms ease-in-out; }
  a:hover {
    text-decoration: underline; }

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

.content-style ol, .accordion .accordion-box .accordion-box-content ol, .content-style ul, .accordion .accordion-box .accordion-box-content ul {
  padding: 5px 0 5px 35px; }
  .content-style ol li, .accordion .accordion-box .accordion-box-content ol li, .content-style ul li, .accordion .accordion-box .accordion-box-content ul li {
    padding: 3px 0; }
  .content-style ol.gform_fields, .accordion .accordion-box .accordion-box-content ol.gform_fields, .content-style ul.gform_fields, .accordion .accordion-box .accordion-box-content ul.gform_fields {
    padding: 5px 0; }

.content-style ul, .accordion .accordion-box .accordion-box-content ul {
  list-style-type: disc; }

.content-style ol, .accordion .accordion-box .accordion-box-content ol {
  list-style-type: decimal; }

.content-style h1, .accordion .accordion-box .accordion-box-content h1, .content-style h2, .accordion .accordion-box .accordion-box-content h2, .content-style h3, .accordion .accordion-box .accordion-box-content h3, .content-style h4, .accordion .accordion-box .accordion-box-content h4, .content-style h5, .accordion .accordion-box .accordion-box-content h5, .content-style h6, .accordion .accordion-box .accordion-box-content h6 {
  padding: 10px 0 5px; }

.content-style blockquote, .accordion .accordion-box .accordion-box-content blockquote {
  padding: 10px 25px;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #939598;
  border-left: 3px solid #d4d5d6;
  margin: 10px 0 10px 20px; }

.content-style hr, .accordion .accordion-box .accordion-box-content hr {
  border: 0;
  border-bottom: 1px solid #d4d5d6;
  padding: 0;
  margin: 25px 0; }

.content-style button, .accordion .accordion-box .accordion-box-content button, .content-style input[type=submit], .accordion .accordion-box .accordion-box-content input[type=submit], .content-style input[type=reset], .accordion .accordion-box .accordion-box-content input[type=reset] {
  padding: 9px 45px 6px 12px;
  background: #007940 url(../img/icon-button-arrow.png) right center no-repeat;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  box-shadow: 4px 4px 10px #babbbd;
  border-radius: 10px; }

h1, h2, h3, h4, h5, h6 {
  color: #2C5871; }
  .teal h1, .teal h2, .teal h3, .teal h4, .teal h5, .teal h6 {
    color: #15B0BF; }
  .forest h1, .forest h2, .forest h3, .forest h4, .forest h5, .forest h6 {
    color: #007940; }
  .green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
    color: #017A40; }
  .orange h1, .orange h2, .orange h3, .orange h4, .orange h5, .orange h6 {
    color: #F99B1F; }
  .grey h1, .grey-light h1, .grey h2, .grey-light h2, .grey h3, .grey-light h3, .grey h4, .grey-light h4, .grey h5, .grey-light h5, .grey h6, .grey-light h6 {
    color: #939598; }
  .lime h1, .lime h2, .lime h3, .lime h4, .lime h5, .lime h6 {
    color: #83BF41; }
  .navy h1, .navy h2, .navy h3, .navy h4, .navy h5, .navy h6 {
    color: #2C5871; }
  .red h1, .red h2, .red h3, .red h4, .red h5, .red h6 {
    color: #e22627; }
  .yellow h1, .yellow h2, .yellow h3, .yellow h4, .yellow h5, .yellow h6 {
    color: #D3D627; }

header {
  position: relative;
  padding: 0;
  background: #D1E3BE url(../img/bg-grunge.png) center center;
  background-size: cover;
  padding: 10px 10px 0 10px; }
  header .logo {
    text-align: center; }
    @media only screen and (min-width: 600px) {
      header .logo {
        max-width: 50%;
        text-align: left; } }
    @media only screen and (min-width: 960px) {
      header .logo {
        max-width: 100%; } }
  header .branch {
    display: none; }
    @media only screen and (min-width: 600px) {
      header .branch {
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        max-width: 50%; } }
    @media only screen and (min-width: 960px) {
      header .branch {
        max-width: 100%; } }
  header .social {
    display: none; }
    @media only screen and (min-width: 600px) {
      header .social {
        display: block;
        position: absolute;
        right: 0;
        bottom: 5px;
        max-width: 33%; }
        header .social img {
          float: right;
          max-width: 16.6%; } }

nav {
  background: #83BF41 url(../img/bg-grunge.png) center center no-repeat;
  background-size: cover;
  text-align: center;
  zoom: 1; }
  nav:before, nav:after {
    content: "";
    display: table; }
  nav, nav:before, nav:after {
    clear: both; }
  nav li {
    display: block; }
    @media only screen and (min-width: 500px) {
      nav li {
        display: block;
        width: 50%;
        float: left; } }
    @media only screen and (min-width: 768px) {
      nav li {
        display: inline-block;
        width: auto;
        float: none; } }
    nav li a {
      font-family: "Slab Thing", sans-serif;
      font-weight: normal;
      display: block;
      padding: 12px 15px 7px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      color: white;
      text-decoration: none; }
      @media only screen and (min-width: 500px) {
        nav li a {
          padding: 15px 15px 10px;
          font-size: 24px;
          line-height: 28px; } }
      nav li a:hover {
        text-decoration: none; }

.showcase {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height 300ms ease-in-out;
  z-index: 0; }
  .showcase .slide {
    position: absolute;
    top: 0;
    left: 100%;
    right: -100%;
    opacity: 0;
    transition: left 400ms ease-in-out, right 400ms ease-in-out, opacity 400ms ease-in-out; }
    .showcase .slide.visible {
      left: 0;
      right: 0;
      opacity: 1;
      z-index: 0; }
    .showcase .slide.hide-left {
      left: -100%;
      right: 100%;
      opacity: 0; }
    .showcase .slide a {
      display: block;
      zoom: 1; }
      .showcase .slide a:before, .showcase .slide a:after {
        content: "";
        display: table; }
      .showcase .slide a, .showcase .slide a:before, .showcase .slide a:after {
        clear: both; }
    .showcase .slide > img, .showcase .slide a > img {
      width: 100%;
      height: auto !important;
      display: block; }
    .showcase .slide .slide-content {
      position: absolute;
      top: 10%;
      right: 60px;
      left: 60px;
      background: white;
      opacity: .8;
      padding: 12px;
      border-radius: 15px;
      border-top-left-radius: 0; }
      @media only screen and (min-width: 768px) {
        .showcase .slide .slide-content {
          top: 15%;
          left: 10%;
          right: 50%;
          padding: 25px; } }
    .showcase .slide h1 {
      font-weight: 700;
      padding: 0;
      font-size: 18px; }
      @media only screen and (min-width: 768px) {
        .showcase .slide h1 {
          font-size: 22px; } }
    .showcase .slide h2 {
      font-weight: 400;
      padding: 0;
      font-size: 13px;
      line-height: 20px; }
  .showcase .showcase-nav a {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    width: 25px;
    height: 50px;
    text-indent: -300px;
    overflow: hidden;
    opacity: .7; }
    .showcase .showcase-nav a:hover {
      opacity: 1; }
    .showcase .showcase-nav a.previous {
      left: 0;
      background: url(../img/icon-arrow-left.png) right center no-repeat;
      background-size: contain;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .showcase .showcase-nav a.next {
      right: 0;
      background: url(../img/icon-arrow-right.png) left center no-repeat;
      background-size: contain;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    @media only screen and (min-width: 768px) {
      .showcase .showcase-nav a {
        width: 50px;
        height: 80px;
        margin-top: -40px; }
        .showcase .showcase-nav a.previous {
          left: 5px; }
        .showcase .showcase-nav a.next {
          right: 5px; } }

.wrap {
  max-width: 1150px;
  margin: 0 auto; }

.main-content {
  min-height: 400px;
  padding: 30px;
  background: #D1E3BE url(../img/bg-grunge.png) center center;
  background-size: contain; }

.quarter, .third, .half, .two-third, .three-quarter {
  padding: 20px; }

@media only screen and (min-width: 768px) {
  .quarter, .third, .half, .two-third, .three-quarter {
    float: left; }
  .quarter {
    width: 23%;
    margin: 0 1%; }
  .third {
    width: 31%;
    margin: 0 1%; }
  .two-third {
    width: 65%;
    margin: 0 1%; }
  .three-quarter {
    width: 73%;
    margin: 0 1%; } }

img.alignright {
  float: right;
  margin: 0 0 15px 15px; }

img.alignleft {
  float: left;
  margin: 0 15px 15px 0; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.accordions-wide {
  padding: 0 20px; }

.accordion {
  padding: 30px 0 6px; }
  .accordion .accordion-box .accordion-box-title {
    position: relative;
    background-size: cover;
    cursor: pointer;
    padding: 10px 40px 15px 15px; }
    @media only screen and (min-width: 768px) {
      .accordion .accordion-box .accordion-box-title {
        padding: 15px 60px 25px 15px; } }
    .accordion .accordion-box .accordion-box-title h4 {
      font-size: 18px;
      line-height: 22px;
      font-style: normal;
      color: white;
      text-transform: uppercase;
      padding: 10px 10px 5px;
      border-bottom: 4px solid white; }
      .accordion .accordion-box .accordion-box-title h4:before {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        content: '';
        background: url(../img/icon-accordion-arrow.png) center center no-repeat;
        background-size: contain;
        transition: transform 600ms ease-in-out; }
        @media only screen and (min-width: 768px) {
          .accordion .accordion-box .accordion-box-title h4:before {
            width: 60px;
            height: 60px;
            bottom: 10px; } }
    .accordion .accordion-box .accordion-box-title.open h4:before {
      transform: rotate(180deg); }
  .accordion .accordion-box .accordion-box-content {
    display: none;
    padding: 20px; }
    .accordion .accordion-box .accordion-box-content .wrap {
      max-width: 1180px; }
  .accordion .accordion-box.open .accordion-box-content {
    display: block; }
  .accordion .accordion-box {
    margin-top: 6px; }
    .accordion .accordion-box.bg-teal .accordion-box-content, .accordion .accordion-box.bg-teal-light .accordion-box-content, .accordion .accordion-box.bg-teal-lighter .accordion-box-content, .accordion .accordion-box.bg-teal-lightest .accordion-box-content {
      background-color: #effcfd; }
    .accordion .accordion-box.bg-navy .accordion-box-content, .accordion .accordion-box.bg-navy-light .accordion-box-content {
      background-color: #f0f6f9; }
    .accordion .accordion-box.bg-red .accordion-box-content, .accordion .accordion-box.bg-red-light .accordion-box-content {
      background-color: white; }
    .accordion .accordion-box.bg-lime .accordion-box-content, .accordion .accordion-box.bg-lime-light .accordion-box-content {
      background-color: white; }
    .accordion .accordion-box.bg-forest .accordion-box-content, .accordion .accordion-box.bg-forest-light .accordion-box-content {
      background-color: #dffff0; }
    .accordion .accordion-box.bg-orange .accordion-box-content, .accordion .accordion-box.bg-orange-light .accordion-box-content {
      background-color: #fddeb4; }
    .accordion .accordion-box.bg-yellow .accordion-box-content, .accordion .accordion-box.bg-yellow-light .accordion-box-content {
      background-color: #f6f7d2; }
    .accordion .accordion-box.bg-grey-light .accordion-box-content, .accordion .accordion-box.bg-grey-dark .accordion-box-content, .accordion .accordion-box.bg-grey-light-light .accordion-box-content, .accordion .accordion-box.bg-grey-dark-light .accordion-box-content {
      background-color: #e1e2e3; }

.gform_confirmation_message {
  background: #c5ffe4;
  border: 3px solid #007940;
  color: #007940;
  font-weight: bold;
  padding: 5px 8px; }

footer {
  background-color: #83BF41;
  color: white;
  padding: 20px 20px 40px;
  text-transform: uppercase;
  text-align: center; }
  footer a {
    color: white; }

.home-links {
  background: #D1E3BE url(../img/bg-grunge.png) center center;
  background-size: contain;
  zoom: 1; }
  .home-links:before, .home-links:after {
    content: "";
    display: table; }
  .home-links, .home-links:before, .home-links:after {
    clear: both; }
  .home-links .wrap {
    padding: 20px 0 380px;
    position: relative; }
    @media only screen and (min-width: 600px) {
      .home-links .wrap {
        padding: 20px 280px 10px 0; } }
    .home-links .wrap:after {
      position: absolute;
      bottom: -50px;
      right: 10px;
      width: 270px;
      height: 400px;
      content: "";
      background: url(../img/tree.png) bottom right no-repeat;
      background-size: contain; }
  .home-links ul {
    zoom: 1; }
    .home-links ul:before, .home-links ul:after {
      content: "";
      display: table; }
    .home-links ul, .home-links ul:before, .home-links ul:after {
      clear: both; }
    .home-links ul li {
      display: block; }
      @media only screen and (min-width: 768px) {
        .home-links ul li {
          float: left;
          width: 50%; }
          .home-links ul li:nth-child(3), .home-links ul li:nth-child(5), .home-links ul li:nth-child(7) {
            clear: left; } }
      @media only screen and (min-width: 900px) {
        .home-links ul li {
          width: 33%; }
          .home-links ul li:nth-child(3), .home-links ul li:nth-child(5) {
            clear: none; }
          .home-links ul li:nth-child(4) {
            clear: left; } }
      @media only screen and (min-width: 1100px) {
        .home-links ul li {
          width: 25%; }
          .home-links ul li:nth-child(4), .home-links ul li:nth-child(7) {
            clear: none; }
          .home-links ul li:nth-child(5) {
            clear: left; } }
      .home-links ul li a {
        font-family: "Slab Thing", sans-serif;
        font-weight: normal;
        display: block;
        clear: left;
        padding: 5px;
        font-size: 17px;
        line-height: 50px; }
        .home-links ul li a:hover {
          text-decoration: none; }
        .home-links ul li a img {
          float: left;
          width: 50px;
          margin-right: 10px; }
          @media only screen and (min-width: 768px) {
            .home-links ul li a img {
              display: block;
              float: none;
              width: auto;
              margin: 0 auto 7px auto; } }
        @media only screen and (min-width: 768px) {
          .home-links ul li a {
            text-align: center;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px; } }
